@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css');

:root {
    --color-primary-light: #7646D7;
    --color-primary-dark: #4F149A;
    --color-secondary: #EBE2FB;
    --color-neutral: #F2F2F2;
    --color-text-black: #000000;
    --color-text-white: #FFFFFF;
    --font-size-base: 16px;
}
body {
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--color-text-white);
}



/* Common tags */
a {
    text-decoration: none;
    color: var(--color-text-black);
}

/* Header styles */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--color-text-white);
    padding: 1% 1% 0% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 150px;
    height: 50px;
    background-image: url('images/blue-logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

#list-items {
    list-style: none;
    display: flex;
    column-gap: 1rem;
}

#list-items li {
    display: flex;
    height: fit-content;
    align-items: center;
}

.down-menu-icon {
    width: 15px;
    height: 8px;
    background-image: url('images/down-main-icon-header.webp');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

/* Grid Animation Styles */
#section1 {
    display: flex;
    justify-content: space-between;
    background-color: #6637C5;
    color: var(--color-text-white)
}

#section1-text {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.s1-text {
    /* width: 65%; */
    padding-left: 10%;
}
.s1-text h2 {
    font-size: 3rem;
}

#section1-grid {
    width: 60%;
}

#award-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
}
#award-grid > div {
    position: relative;
    overflow: visible;
    transition: transform 0.8s ease, background-color 0.8s ease, opacity 0.8s ease;
    will-change: transform, opacity, background-color;
}

#award-grid>div {
    height: 16.5rem;
}

.grid-with-logo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.grid-with-logo img {
    width: auto;
    height: 3.5rem;
}
.crowd-reviews {
    background-image: url('images/home-banner-sprite-logos.webp');
    background-position: -7% 35%;
    width: 195px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 110%;
}
.good-firms {
    background-image: url('images/home-banner-sprite-logos.webp');
    background-position: 18% 88%;
    width: 80px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 320%;
}
.clutch {
    background-image: url('images/home-banner-sprite-logos.webp');
    background-position: -13% 60%;
    width: 132px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 136%;
}
.microsoft {
    background-image: url('images/home-banner-sprite-logos.webp');
    background-position: 73% -2%;
    width: 170px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 98%;
}


#card1 > div,
#card6 > div {
    background-color: #CFA9FF;
}

#card2 > div,
#card4 > div,
#card9 > div {
    background-color: var(--color-primary-light);
}

#card3 > div,
#card5 > div,
#card7 > div,
#card8 > div {
    background-color: var(--color-primary-dark);
}

.bl-border {
    border-bottom-left-radius: 2.5rem;
}

.grid-with-logo {
    /* border: 1px solid red; */
}

/* Grid Animation */
.card-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease, opacity 0.4s ease;
    color: var(--color-text-white);
}
.card-wrapper.new {
    position: absolute; 
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
}



/* section-2 */
#section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0%;
    text-align: center;
}

#s2a {
    width: 85%;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    padding-top: 2rem;
}

.s2-list {
    width: fit-content;
    text-wrap: nowrap;
}

.s2-content {
    border: 2px solid #00000033;
    border-radius: 1rem;
    width: fit-content;
    padding: 1.5rem;
    text-align: left;
}

.s2-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0%;
    padding: 0%;
    row-gap: 1.5rem;
}

.s2-list li {
    height: 2.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-neutral);
    font-weight: bold;
    cursor: pointer;
}
.active {
    background-color: var(--color-primary-dark) !important;
    color: var(--color-text-white);
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 1rem;
    column-gap: 2rem;
    color: var(--color-text-black);
}
#s2-heading {
    color: var(--color-primary-dark);
}

.content-grid a {
    text-decoration: underline;
}
/* for mobile */
#myAccordion {
    display: none;
}
.item {
    border-radius: 1rem;
    margin: 1% 2%;
    background-color: var(--color-neutral);
}
.toggle-btn {
    width: 100%;
    border-radius: 1rem;
    border: none;
    padding: 0 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    text-align: left;
}
.rotate {
  rotate: 180deg;    
}
.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 0 1rem 1rem;
    gap: 0.5rem;
}
.content a {
    text-decoration: underline;
}

/* section-3 */
.image-grid {
    width: 85%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 25rem 25rem;
    gap: 1rem;
}

.image-grid>div {
    border-radius: 1.5rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.image-grid * {
    color: var(--color-text-white);
}

.image-grid ul {
    display: none;
}

.divg-1 {
    grid-column: span 6;
    grid-row: 1;
}

.divg-2 {
    grid-column: span 4;
    grid-row: 1;
}

.divg-3 {
    grid-column: span 4;
    grid-row: 2;
}

.divg-4 {
    grid-column: span 6;
    grid-row: 2;
}

.divg-1::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('images/image-grid1.webp');
}

.divg-2::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('images/image-grid2.webp');
}

.divg-3::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('images/image-grid3.webp');
}

.divg-4::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('images/image-grid4.webp');
}

.image-grid>div::before {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.image-grid>div:hover::before {
    transform: scale(1.1);
    /* smooth zoom */
}

.image-grid>div:hover ul {
    display: block;
}

.image-grid ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.right-menu-icon {
    width: 15px;
    height: 8px;
    background-image: url('images/arrow-right.webp');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.x-scroll::-webkit-scrollbar {
  display: none;
}
.x-scroll {
  scrollbar-width: none;
}

/* second image grid */
.divg-5 {
    grid-column: span 5;
    grid-row: 1;
}

.divg-6 {
    grid-column: span 5;
    grid-row: 1;
}

.divg-7 {
    grid-column: span 5;
    grid-row: 2;
}

.divg-8 {
    grid-column: span 5;
    grid-row: 2;
}

.divg-5::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('images/image-grid5.webp');
}

.divg-6::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('images/image-grid66.webp');
}

.divg-7::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('images/image-grid7.webp');
}

.divg-8::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('images/image-grid8.webp');
}


/* section-4 */
#section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 4%;
    padding: 4% 0%;
    background: linear-gradient(279.93deg, #EBE2FB 59.34%, #FFFFFF 101.02%);
}

#section4 a {
    color: var(--color-primary-dark);
    font-weight: bold;
}

.section4a {
    width: 50%;
    color: var(--color-text-black);
}
.section4a h3 {
    margin-bottom: 4%;
}

.section4b {
    overflow: hidden;
    margin: 6% 0%;
    width: 100%;
}

.section4c {
    font-size: 6rem;
    font-weight: bold;
    color: var(--color-text-white);
    user-select: none;
}

/* carousel track */
.carousel-track {
    display: flex;
    gap: 1.5rem;
    animation: scroll 30s linear infinite;
    width: max-content;
}

.carousel-track>div {
    flex-shrink: 0;
    /* object-fit: contain; */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* client-icons */
.client-icon {
    width: 14rem;
    height: 4.37rem;
    background-image: url('images/grey-client-sprite.webp');
    background-repeat: no-repeat;
    display: inline-block;
    transition: background-image 0.3s ease;
    background-size: 400%;
}

.client-icon:hover {
    background-image: url('images/coloured-client-sprite.webp');
}

/* icons-position */
.icon-1 {
    background-position: -4.8rem 0.5rem;
}

.icon-2 {
    background-position: -21rem 0.9rem;
}

.icon-3 {
    background-position: -37rem 0.5rem;
}

.icon-4 {
    background-position: 3rem -10.1rem;
}

.icon-5 {
    background-position: -13rem -10.3rem;
}

.icon-6 {
    background-position: -29rem -9.8rem;
}

.icon-7 {
    background-position: -45rem -9.9rem;
}

.icon-8 {
    background-position: -5rem -20.8rem;
}

.icon-9 {
    background-position: -21rem -21rem;
}

.icon-10 {
    background-position: -36.8rem -21rem;
}

.icon-11 {
    background-position: 3rem -31.5rem;
}

.icon-12 {
    background-position: -13rem -31.6rem;
}

.icon-13 {
    background-position: -29rem -31.6rem;
}

.icon-14 {
    background-position: -45rem -31.7rem;
}

.icon-15 {
    background-position: -5rem -42.4rem;
}

.icon-16 {
    background-position: -21rem -42.2rem;
}

.icon-17 {
    background-size: 450%;
    background-position: -40.7rem -47.8rem;
}

.icon-18 {
    background-position: 3rem -53.3rem;
}

.icon-19 {
    background-size: 450%;
    background-position: -15.5rem -59.7rem;
}

.icon-20 {
    background-position: -29rem -52.8rem;
}

.icon-21 {
    background-position: -45rem -53rem;
}

.icon-22 {
    background-position: -5rem -63.7rem;
}

.icon-23 {
    background-position: -21rem -63.8rem;
}

.icon-24 {
    background-position: -37rem -63.8rem;
}


/* Section - 5 */
#section5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    padding: 5% 0% 3% 0%;
}
.section5a {
    width: 65%;
    color: var(--color-text-black);
    text-align: center;
}
.section5b {
    width: 85%;
    margin: 2% 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(7rem, auto);
    gap: 1rem;
}
.section5b > a {
    grid-column: span 3;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 4px 4px 19px #00000024;
    border-radius: 0.8rem;
    padding: 4%;
}
.top-cards {
    background-color: #E8E2FF;
    color: var(--color-primary-dark);
    box-shadow: none !important;
}
.section5b > a img {
    width: 6rem;
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.section5b > a span {
    /* width: 14rem; */
    padding-left: 3%;
    font-size: 0.8rem;
    font-weight: 600;
}
.stand-out {
    display: flex;
    align-items: center;
    grid-column: span 6;
    background: linear-gradient(270deg, #7646D7 0%, #4F149A 100%);
    color: var(--color-text-white);
    box-shadow: 4px 4px 19px #00000024;
    border-radius: 0.8rem;
    padding: 2rem 1rem;
}
.stand-out img {
    width: auto;
    height: 2.4rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.stand-out div {
    padding: 0rem 0.7rem;
    height: 100%;
}
.stand-out span {
    font-size: small;
    padding-top: 1rem;
}

/* wide range of varities */
#section6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}   
.section6b {
    margin-top: 3%;
    width: 81%;
    display: flex;
    justify-items: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
}
.section6b > div {
    cursor: pointer;
    height: 3.5rem;
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: var(--color-secondary);
    text-align: center;
    white-space: nowrap;
    flex-basis: unset;
    flex-grow: 1;
}
.section6b > div:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-text-white);
}
/* sprite icons */
.section6c {
    margin: 3% 0%;
    width: 91%;
    height: 40rem;

}
.section6c > div {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}
.section6c > div > div {
    width: 15rem;
    height: 7rem;
    background-repeat: no-repeat;
    background-image: var(--bg);
    background-position: var(--x) var(--y);
}
/* 17.5rem -1 */
.backend > div{--bg: url(images/backend-desktop.webp); background-size: 70rem;}
.backend div:nth-child(1){ --x:-8%; --y:-9%; } .backend div:nth-child(2){ --x:27%; --y:-9%; } .backend div:nth-child(3){ --x:68%; --y:-8%; } 
.backend div:nth-child(4){ --x:102%; --y:-10%; } .backend div:nth-child(5){ --x:-5%; --y:48%; } .backend div:nth-child(6){ --x:28%; --y:48%; }
.backend div:nth-child(7){ --x:69%; --y:49%; } .backend div:nth-child(8){ --x:107%; --y:48%; } .backend div:nth-child(9){ --x:-6%; --y:108%; }
.backend div:nth-child(10){ --x:28%; --y:106%; }

.frontend > div{--bg: url(images/Frontend.webp); background-size: 70rem;}
.frontend div:nth-child(1){ --x:-6%; --y:-11%; } .frontend div:nth-child(2){ --x:33%; --y:-11%; } .frontend div:nth-child(3){ --x:69%; --y:-11%; } 
.frontend div:nth-child(4){ --x:108%; --y:-11%; } .frontend div:nth-child(5){ --x:-7%; --y:23%; } .frontend div:nth-child(6){ --x:31%; --y:23%; }
.frontend div:nth-child(7){ --x:72.2%; --y:23%; } .frontend div:nth-child(8){ --x:107%; --y:23%; } .frontend div:nth-child(9){ --x:-6%; --y:66%; }
.frontend div:nth-child(10){ --x:31%; --y:66%; } .frontend div:nth-child(11){ --x:71.5%; --y:66%; } .frontend div:nth-child(12){ --x:108%; --y:66%; } 
.frontend div:nth-child(13){ --x:31%; --y:109%; }

.databases > div{--bg: url(images/Data-and-Databases.webp); background-size: 70rem;}
.databases div:nth-child(1){ --x:-6.3%; --y:-31%; } .databases div:nth-child(2){ --x:29.7%; --y:-31%; } .databases div:nth-child(3){ --x:68%; --y:-34%; } 
.databases div:nth-child(4){ --x:106%; --y:-31%; } .databases div:nth-child(5){ --x:-7%; --y:134%; } .databases div:nth-child(6){ --x:30%; --y:134%; }
.databases div:nth-child(7){ --x:69%; --y:134%; } .databases div:nth-child(8){ --x:105%; --y:134%; }

.qa > div{--bg: url(images/Quality-Engineering.webp); background-size: 35rem;}
.qa div:nth-child(1){ --x:-6%; --y:56%; } .qa div:nth-child(2){ --x:114.7%; --y:56%; }

.mobile > div{--bg: url(images/Mobile-Apps-PWA.webp); background-size: 70rem;}
.mobile div:nth-child(1){ --x:-6.3%; --y:-85%; } .mobile div:nth-child(2){ --x:29.7%; --y:-85%; } .mobile div:nth-child(3){ --x:72%; --y:-85%; } 
.mobile div:nth-child(4){ --x:108%; --y:-95%; } .mobile div:nth-child(5){ --x:-5.5%; --y:200%; }

.cloud > div{--bg: url(images/Cloud-DevOps.webp); background-size: 70rem;}
.cloud div:nth-child(1){ --x:-9.3%; --y:-60%; } .cloud div:nth-child(2){ --x:29.7%; --y:-60%; } .cloud div:nth-child(3){ --x:69%; --y:-60%; } 
.cloud div:nth-child(4){ --x:108%; --y:-60%; } .cloud div:nth-child(5){ --x:-5%; --y:176%; } .cloud div:nth-child(6){ --x:29%; --y:176%; }
.cloud div:nth-child(7){ --x:69%; --y:176%; }

.digital > div{--bg: url(images/Digital-Experience-Platforms.webp); background-size: 35rem;}
.digital div:nth-child(1){ --x:-11%; --y:44%; } .digital div:nth-child(2){ --x:116%; --y:44%; } 

.shop > div{--bg: url(images/Shop-E-Commerce-Platforms.webp); background-size: 70rem;}
.shop div:nth-child(1){ --x:-5%; --y:-16%; } .shop div:nth-child(2){ --x:30%; --y:-18%; } .shop div:nth-child(3){ --x:71%; --y:-18%; } 
.shop div:nth-child(4){ --x:107%; --y:-16%; } .shop div:nth-child(5){ --x:-6%; --y:57%; } .shop div:nth-child(6){ --x:29%; --y:57%; }
.shop div:nth-child(7){ --x:70%; --y:56%; } .shop div:nth-child(8){ --x:108%; --y:56%; } .shop div:nth-child(9){ --x:-6%; --y:122%; }

.project > div{--bg: url(images/Project-Management.webp); background-size: 35rem;}
.project div:nth-child(1){ --x:-11%; --y:40%; } .project div:nth-child(2){ --x:113%; --y:41%; } 


.frontend {
    display: flex !important;
}


/* section-7 */
#section7 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    padding: 5% 0% 3% 0%;
}
.section7b {
    width: 91%;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr); 
    margin: 20% 0%;
    gap: 0;
}
.flag {
    position: relative;
    margin-right: -5%;
}
.flag::before {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 2px;        /* line thickness */
   height: var(--h);      /* length of line */
   background: #d9d9d9;
}
.flag:nth-child(odd)::before { --h:100%; top:-100%; }
.flag:nth-child(even)::before { --h:100%; top:100%;}
.arrow-card {
    /* width: 14rem; */
    height: 6rem;
    background-color: var(--color-neutral);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    clip-path: polygon(
      0 0,
      calc(100% - 25px) 0,
      100% 50%,
      calc(100% - 25px) 100%,
      0 100%,
      25px 50%
    );
  font-size: 0.9rem;
}
.step {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sod {
    top: -90%;
    transform: translate(-2%,-100%);
}
.sev {
    top: 150%;
    transform: translate(-25%,100%);
}
.step span {
    background-color: var(--color-primary-dark);
    color: var(--color-text-white);
    border-radius: 1.2rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin-left: 0.7rem;
    /* width: 20rem; */
    white-space: nowrap;
}
.tick {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BAA2EB;
    border-radius: 1.2rem;
    height: 2.5rem;
    width: 2.5rem;
}
/* card-2 */
.ac-1 {
    border-radius: 1rem;
    clip-path: polygon(
      0 0,
      calc(100% - 25px) 0,
      100% 50%,
      calc(100% - 25px) 100%,
      0 100%
  );
}
.ac-2 {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 50%,
        100% 100%,
        0 100%,
        25px 50%
    );
}
/* for mobile */
.section7c {
    display: none;
    width: 95%;
}
.step-card {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-neutral);
}
.step-card > div:nth-child(1) {
    width: 100%;
    border-radius: 2rem;
    padding: 0.7rem 1.2rem;
    background-color: var(--color-primary-dark);
    color: var(--color-text-white);
}
.step-card > div:nth-child(2) {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* section8 */
#section8 > div {
    width: 100%;
    display: flex;
    text-align: center;
}
.section8a {
    justify-content: center;
    height: 35vh;
    background-color: var(--color-secondary);
}
.section8b {
    background-color: var(--color-neutral);
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.contents8 {
    width: 50%;
}
.gridimg {
    display: grid;
    grid-template-rows: 30%;
    grid-template-columns: repeat(6, 1fr);
}
.gridimg img {
    width: 8.5rem;
    height: 8.5rem;
    margin-left: -2rem;
    margin-top: -4rem;
}
.vector-icon {
    transform: scale(1.5);
}
/* carrers */
.gridcarrers {
    height: 25rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columns */
    grid-template-rows: repeat(4, 1fr);     /* 4 rows */
    gap: 1rem; 
    border-radius: 2rem;
    background-color: var(--color-secondary);
    padding: 1.5rem;
}
.gridcarrers > div > img {
    width: 100%;
    height: 100%;
}
.gridcarrers > div:nth-child(1) {
    grid-column: span 1;
    grid-row: span 2;
}
.gridcarrers > div:nth-child(2) {
    grid-column: span 2;
    grid-row: span 4;
}
.gridcarrers > div:nth-child(3) {
    grid-column: span 1;
    grid-row: span 3;
}
.gridcarrers > div:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
}
.gridcarrers > div:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
}
.carrers-btn{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    border: none;
    font-size: large;
    background-color: var(--color-text-white);
    color: var(--color-primary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}


/* section 10 */
#section10 {
    padding: 2rem;
    margin-top: 4%;
}
.section10a {
    width: 90%;
}
.section10a img{
    margin-left: 0.5rem;
    transform: rotate(270deg);
}
.s10b2 {
    width: 40%;
    background-image: url(images/faqs.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 35px 40px;
    border-radius: 10px;
}

/* media query */
/* Mobile: below 768px */
@media (max-width: 767px) {
    html {
        font-size: 14px;
    }
    /* navabr */
    header {
        display: none;
    }
    /* arrow card */
    .section7b {
        display: none;
    }
    .section7c {
        display: block;
    }

    /* ms-2 */
    #s2a {
        display: none;
    }
    #myAccordion {
        display: block;
    }

    /* ms-3 */
    .image-grid {
        width: 100%;
        margin-left: 5%;
        grid-template-columns: none;
        grid-auto-columns: 70%;
        grid-template-rows: 25rem;
        grid-auto-flow: column;
        gap: 1rem;
        overflow-x: auto;
        scrollbar-width: none;
    }
    .image-grid > div {
        grid-column: span 1;
        grid-row: 1;
        cursor: grab;
    }
    .image-grid ul {
        display: block;
    }

    /* ms-4 */
    .section4a {
        width: 95%;
        text-align: left;
    }
}

@media (max-width:1024px){
    #section1 {
        flex-direction: column-reverse;
    }
    #section1-text, #section1-grid {
        width: 100%;
    }


}
/* Tablet: 768px – 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 15px;
    }
   /* homepage-grid */
   #award-grid > div {
        height: 14rem;
   }
   .clutch {
        width: 7.5rem;
        height: 3.2rem;    
   }
   .good-firms {
        width: 4rem;
        height: 3.1rem;
   }
   .microsoft {
        width: 11rem;
        height: 4.8rem;
   }
   .crowd-reviews {
        width: 9rem;
        height: 2.5rem;
        background-size: 109%;
   }     

    /* ms-2 */
    #s2a {
        width: 95%;
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .s2-list {
        width: 100%;
    }
    #items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    /* ms-3 */
    .image-grid {
        width: 100%;
        margin-left: 5%;
        grid-template-columns: none;
        grid-auto-columns: 45%;
        grid-template-rows: 25rem;
        grid-auto-flow: column;
        gap: 1rem;
        overflow-x: auto;
        scrollbar-width: none;
    }
    .image-grid > div {
        grid-column: span 1;
        grid-row: 1;
        cursor: grab;
    }
    .image-grid ul {
        display: block;
    }

    /* ms-4 */
    .section4a {
        width: 70%;
    }
}
/* Laptop / Small Desktop: 1025px – 1299px */
@media (min-width: 768px) and (max-width: 1299px) {
    /* arrow-card */
    .section7b {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 7rem);
        column-gap: 1rem;
    }
    .flag:nth-child(1)::before { --h:110%; top:-110%; }
    .flag:nth-child(2)::before { --h:40%; top:-40%; }
    .flag:nth-child(3)::before { --h:110%; top:-110%; }
    .flag:nth-child(4)::before { --h:110%; top:85%; }
    .flag:nth-child(5)::before { --h:50%; top:85%; }
    .flag:nth-child(6)::before { --h:110%; top:85%; }
    .flag:nth-child(1) > div:nth-child(2) { top:-110%; transform: translate(-2%,-100%); }
    .flag:nth-child(2) > div:nth-child(2) { top:-40%; transform: translate(-2%,-100%); }
    .flag:nth-child(3) > div:nth-child(2) { top:-110%; transform: translate(5%,-100%); }
    .flag:nth-child(4) > div:nth-child(2) { top:160%; transform: translate(-2%,100%); }
    .flag:nth-child(5) > div:nth-child(2) { top:100%; transform: translate(15%,100%); }
    .flag:nth-child(6) > div:nth-child(2) { top:160%; transform: translate(-15%,100%); }
}
/* Large Desktop: 1300px and above */
@media (min-width: 1300px) {
    
}